.keyValueDocData {
  padding-left: 2%;
}

.keyDocTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

/* .flexBody{
    display: flex;
    flex-direction: row;
} */

/* .keyDocTabletr{
    border-collapse: collapse;
    border: 1px solid black;
}
.keyDocTableth {
    
    font-size: 16px;
    background-color: rgb(117, 201, 250);
    border-collapse: collapse;
    border: 1px solid black;
}

.keyDocTabletd {
    
    font-size: 16px;
    background-color: rgb(205, 235, 253);
    border-collapse: collapse;
    border: 1px solid black;
}

.icons-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
} */
