.templateMapRulesRows {
  border-bottom: 1px solid #ccc;
}
.templateMapRulesRows td {
  border: 1px solid #ccc;
}
.tempMapRulesRowRuleId {
  text-align: center;
  font-size: 0.8rem;
  width: 80px;
}
.tempMapRulesRowExcelKey {
  width: 20%;
}
.bg-edited {
  background: #f4f4f4;
}
.tempMapRulesRowExcelKey {
  font-size: 0.85rem;
  padding-left: 4px;
}
.tempMapRulesRowMapNPrompttd {
  width: 120px;
}
.tempMapRulesRowIOPField {
  width: 600px;
  text-align: center;
  padding-left: 6px;
}
.tempMapRulesRowIOPFieldOdiv {
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  font-size: 0.8rem;
}
.tempMapRulesRowIOPFieldSelectKeysOdiv {
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
}
.tempMapRulesRowIOPFieldSelectKeys {
  width: 350px;
  /* font-size: 0.8rem; */
  border: 1px solid #ccc;
  cursor: pointer;
}
.tempMapRulesRowIOPFieldSelectKeys:focus {
  outline: none;
}

.promptSection {
  /* padding: 4px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textareaPrompt {
  border: 1px solid #ccc;
  margin-right: 4px;
}
.textareaPrompt:focus {
  outline: none;
  /* cursor: pointer; */
}

.promptSearchIcon {
  border: 1px solid #9c9c9c;
  background: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.promptSearchIcon:active {
  background: #ccc;
  border: 1px solid #fff;
}

.tempMapRulesRowMapNPrompt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tempMapRulesRowMapNPrompt div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 4px 3px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}
.selectedSource {
  background: lightgreen;
}
.tempMapRulesRowIOPValue {
  width: 20%;
  font-size: 0.8rem;
  padding: 4px;
}
.tempMapRulesRowEdit {
  text-align: center;
  font-size: 0.9rem;
  color: #696969;
  width: 50px;
}
.tempMapRulesRowEditODiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tempMapRulesRowEditIDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0px 6px;
  opacity: 0.75;
}
.tempMapRulesRowEditIDiv:hover {
  color: black;
  opacity: 1;
}
.tempMapRulesRowEditIDiv img {
  height: 15px;
}
