.svgPic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top right, #2857a4, #403066 70%);
}

[data-amplify-authenticator] [data-state='inactive'] {
  background-color: #ccc;
}

.amplify-tabs-item[data-state='active'] {
  color: #5cc789;
  border-color: #5cc789;
}

.amplify-button--primary {
  background-color: #5cc789;
}
.amplify-button--primary:hover {
  background-color: #008000;
}
