.datesBox {
  /* border: 1px solid #ccc; */
  margin: 10px 0px 10px 10px;
  height: 30px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.datesBox button {
  outline: none;
  border: 1px solid grey;
  background: white;
  color: #1e1e1e;
  font-weight: bold;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin: 0;
}
.datesBox input {
  border-radius: none;
  border: 1px solid #ccc;
}
.datesBox i {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #008000;
  padding-top: 5px;
}
.refIcon {
  /* border: 1px solid #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}
.datesBox button:hover {
  background: rgb(217, 255, 213);
  transition: 0.2s;
}
.refIcon:hover {
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.refIcon:active {
  border: 1px solid #0000;
  border-radius: 5px;
  cursor: pointer;
}
.currentStatsLabel {
  margin: 5px 0px 5px 10px;
  color: #1e1e1e;
  font-weight: bold;
}
.allCards {
  /* border: 1px solid #ccc; */
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.singleCard {
  width: 30%;
  /* border: 1px solid grey; */
  height: 95%;
  box-shadow: 0px 0px 7px grey;
}
.cardName {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c3546;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
.cardValue {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #ccc; */
  font-size: 2rem;
  font-weight: bold;
  color: #008000;
}
.first2charts {
  /* border: 1px solid #ccc; */
  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chart1st {
  border: 1px solid #ccc;
  margin: 2px;
  width: 49%;
  height: 300px;
  box-shadow: 0px 0px 5px grey;
}
.chart2nd {
  border: 1px solid #ccc;
  margin: 2px;
  width: 49%;
  height: 300px;
  box-shadow: 0px 0px 5px grey;
}
