.rawDocData {
  padding-left: 2%;
  height: 100%;
}
.rawDocDataPages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
