.templatesSubTable {
  height: 100%;
}
.tableSubTemp2 table {
  border: 1px solid rgb(237, 237, 237);
}

.FavKeywordSubTempTable {
  /* max-width: 260px; */
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
.modalContent {
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}
.selectOption:focus {
  outline: none;
}
.selectOption {
  min-width: 150px;
}
.leftSectionModalAddNewSub {
  width: 35%;
  font-weight: 500;
  font-size: 0.85rem;
}
.rightSectionModalAddNewSub {
  font-weight: 400;
  font-size: 0.85rem;
}
#downloadExcelIcon {
  color: #0b5ed7;
}
/* #uploadExcelInputBox {
  border: 1px solid grey;
} */
#doneUploadExcelIcon {
  color: #0b5ed7;
}
#downloadExcelIcon:hover {
  scale: 1.05;
  cursor: pointer;
  transition: 0.1s;
}
.newTempInput {
  width: 250px;
}
.newTempInput:focus {
  outline: none;
}
.newTempTextarea:focus {
  outline: none;
}
.newTempTextarea {
  width: 250px;
  min-height: 30px;
}
.headerComponent {
  border: 1px solid #ccc;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 7px;
  color: #384988;
  /* position: static; */
}
.tableSubTemp {
  width: 100%;
  height: 92%;
}
.tableSubTemp1 {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.subtempTabLabel {
  font-size: 0.85rem;
  font-weight: 700;
}
.addNewSubTempButton {
  border: 1px solid #ccc;
  padding: 2px;
  width: 90px;
  height: 26px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}
.addNewSubTempButton:hover {
  background: rgb(246, 246, 246);
}
.addNewSubTempButton:active {
  border: 1px solid #0000;
  border-radius: 5px;
  cursor: pointer;
}
.addNewSubicon {
  font-size: 1.1rem;
  color: green;
}
.addNewSubLabel {
  font-size: 0.85rem;
  font-weight: 500;
  color: #1e1e1e;
}
.deleteSubTemButton {
  color: rgb(199, 25, 25);
  font-size: 1rem;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.deleteSubTemButton:hover {
  border: 1px solid rgb(255, 148, 148);
  background: white;
}

.mapRulesToPageButton {
  color: rgb(97, 105, 106);
  font-size: 1rem;
  width: 60px;
  /* height: 60px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  /* border: 1px solid black; */
}
.mapRulesToPageButton:hover {
  scale: 1.1;
}

/* Global Search Input */
.searchGroup1 {
  margin-right: 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: -2px;
  /* border: 1px solid black; */
}
.searchGroup1 #searchName {
  height: 26px;
  border: 1px solid #ccc;
  font-size: 0.8rem;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 10px;
}
.searchGroup1 #searchName:focus {
  outline: none;
}
.searchGroup1 #clearSearchField {
  background: white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  color: grey;
  width: 30px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.searchGroup1 #clearSearchField:hover {
  cursor: pointer;
  background: rgb(246, 246, 246);
}
.searchGroup1 #clearSearchField:active {
  border: 1px solid #0000;
  cursor: pointer;
}
.searchGroup1 #searchIc {
  transition: 0.3s;
}

/* Refresh Icon Styling */
.refreshIcDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 2px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 22px;
  width: 22px;
  color: #1e1e1e !important;
  font-weight: 100;
}
.refreshIcDiv i {
  font-size: 0.9rem;
  margin-top: 4px;
}
.refreshIcDiv:hover {
  border: 1px solid #ccc;
  background: rgb(246, 246, 246);
  cursor: pointer;
}
.refreshIcDiv:active {
  border: 1px solid #0000;
  border-radius: 5px;
  cursor: pointer;
}

.numPart {
  /* border: 1px solid black !important; */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.totalKeysNum:hover {
  color: #384988;
  text-decoration: underline;
}
.totalFilesNum:hover {
  color: #384988;
  text-decoration: underline;
}
/* Prime Table Styling */
.p-column-filter-operator {
  display: none;
}
.tableSubTemp .p-column-filter-menu-button:focus {
  box-shadow: 0 0 0 0.05rem #c7d2fe !important;
}
.tableSubTemp .p-datatable .p-sortable-column:focus {
  box-shadow: none !important;
}
.tableSubTemp .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  box-shadow: none !important;
}
.tableSubTemp .p-link:focus {
  box-shadow: 0 0 0 0.05rem #c7d2fe !important;
}
.tableSubTemp .p-paginator {
  background: #f8f9fa !important;
  padding: 2px !important;
  font-size: 0.9rem !important;
}
.tableSubTemp .p-component {
  font-size: 0.9rem !important;
}
.tableSubTemp .p-paginator-page {
  font-size: 0.9rem !important;
}
.tableSubTemp .p-dropdown-label {
  font-size: 0.9rem !important;
  padding-left: 0.3rem;
}
.tableSubTemp .pi {
  font-size: 0.8rem !important;
}
.tableSubTemp .p-datatable-header {
  padding: 0.2rem 0.2rem !important;
}

.tableSubTemp th {
  font-size: 0.8rem !important;
  padding: 0.2rem 0.2rem 0.2rem 0.5rem !important;
  /* color: #384988 !important; */
}
.tableSubTemp td {
  font-size: 0.85rem !important;
  padding: 0.2rem 0.2rem 0.2rem 0.5rem !important;
  height: 33px;
  /* font-weight: 400; */
  /* border-right: 1px solid #ccc !important; */
  /* text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important; */
}
.otherDetailsdivMain {
  width: 100%;
}
.otherDetailsdiv {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* max-width: 140px; */
}
.otherDetailsdiv:hover {
  color: #384988;
  text-decoration: underline;
}
.modal-body2 {
  padding: 10px;
}
