.templates {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid yellow; */
  width: 100%;
  height: 100%;
}

.mainTemplates {
  /* border: 1px solid black; */
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 4px;
  margin-left: 5px;
  cursor: pointer;
}
.mainTemplateTabs {
  border-top: 1px solid rgb(190, 190, 190);
  border-left: 1px solid rgb(190, 190, 190);
  border-right: 1px solid rgb(190, 190, 190);
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 0.85rem;
  color: #1c1c1c;
  background: #ccc;
  font-weight: 500;
  height: 32px;
  margin-bottom: -1px;
  z-index: 2;
}
.selectedMain {
  color: #384988;
  background: white;
}
.subtemplatesSection {
  /* border: 1px solid #ccc; */
  z-index: 1;
  height: 92%;
  width: 99%;
  margin-left: 5px;
}
/* 
.templateTopSection {
  border-bottom: 1px solid #ccc;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  display: none;
}
.createDeleteTemplate {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.templateCreationDiv {
  width: 48%;
  height: 100%;
  padding-left: 10px;
}
.templateDeletionDiv {
  width: 48%;
  height: 100%;
  border-left: 1px solid #ccc;
  padding-left: 2%;
}

.templateLabel {
  color: #1e1e1e;
  font-weight: bold;
}

.formActionTemplate {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
}
.createTemplateButton {
  height: 30px;
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.deleteTemplateButton {
  height: 30px;
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding-left: 10px;
}
.createTemplateButton:focus {
  outline: none;
}
.deleteTemplateButton:focus {
  outline: none;
}
.newTempInput {
  border: 1px solid #ccc;
  font-size: 0.85rem;
}
.selectOption {
  min-width: 140px;
  font-size: 0.85rem;
  border: 1px solid #ccc;
}
.newTempInput:focus {
  outline: none;
}
.selectOption:focus {
  outline: none;
}

@media screen and (max-width: 1250px) {
  .createDeleteTemplate {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
  }
  .templateTopSection {
    height: 150px;
  }
  .templateCreationDiv {
    width: 80%;
  }
  .templateDeletionDiv {
    border-left: none;
    padding-left: 1.5%;
    width: 80%;
  }
} */
