.configurationFileList {
  /* overflow: hidden; */
  height: 87%;
}

.actionButtonsConfigure {
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 10%;
}

.configurationFileListFourButtons {
  padding: 0.4em;
  width: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: whitesmoke;
  outline: none;
  border: none;
}
.configurationFileListFourDisabledButtons {
  padding: 0.4em;
  width: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
  background: lightgray;
  outline: none;
  border: none;
}
.configurationFileListFourButtons:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.startExtractionButton {
  background: forestgreen;
}
.stopExtractionButton {
  background: rgb(63, 63, 63);
}
.viewExtractedDataButton {
  background: blueviolet;
}
.deleteExtractedFileButton {
  background: darkred;
}

.configFlLstTableHeader {
  /* border: 1px solid black; */
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: unset;
  font-weight: 600;
}
.configFlLstTableHeader div {
  border-right: 1px solid #ccc;
}
.configFlLstTableHeaderDocId {
  width: 19%;
}
.configFlLstTableHeaderDocName {
  width: 29%;
}
.configFlLstTableHeaderDocType {
  width: 10%;
}
.configFlLstTableHeaderUploadedOn {
  width: 14%;
}
.configFlLstTableHeaderDocStats {
  width: 13%;
}
.configFlLstTableHeaderSelectAll {
  padding: 5px;
  width: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.configFlLstTableHeaderUnSelectAll {
  padding: 5px;
  width: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 5px;
  background: yellowgreen;
  border: 1px solid lightgray;
}
.configFlLstTableHeaderSelectAll:hover {
  background: lightyellow;
  transition: 0.3s;
}
.configFlLstTableBody {
  height: 72%;
  width: 100%;
  overflow: auto;
  /* border: 1px solid black; */
}
.tableHeadBodyLine {
  margin: 2px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 3px;
}

.proNotProButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 13px 0px 0px;
}
.proNotProButtons div {
  border: 1px solid lightgray;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  user-select: none;
  margin: 0;
  padding: 0;
}
.proNotProButtons div:nth-child(1) {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.proNotProButtons div:nth-child(2) {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.selectedSpecificButton {
  background: #2874f0;
  color: white;
  transition: 0.2s;
}
