.configurationFileList {
  /* overflow: hidden; */
  height: 90%;
}

.actionButtonsConfigure {
  width: 100%;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3px 10%;
}

.configurationFileListFourButtons {
  padding: 0.3em;
  width: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: whitesmoke;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.configurationFileListFourButtons i {
  padding-top: 5px;
}
.configurationFileListFourDisabledButtons {
  padding: 0.3em;
  width: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
  background: lightgray;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.configurationFileListFourDisabledButtons i {
  padding-top: 5px;
}
.configurationFileListFourButtons:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.emptyButtonDiv {
  padding: 0.4em;
  width: 100px;
}
.startExtractionButton {
  background: forestgreen;
}
.stopExtractionButton {
  background: rgb(63, 63, 63);
}
.viewExtractedDataButton {
  background: blueviolet;
}
.deleteExtractedFileButton {
  background: darkred;
}

.configFlLstTableHeader {
  /* border: 1px solid black; */
  /* margin-top: 8px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: unset;
  font-weight: 600;
  height: 8%;
}
.configFlLstTableHeader div {
  border-right: 1px solid #ccc;
}
.configFlLstTableHeaderDocId {
  width: 15%;
}
.configFlLstTableHeaderDocName {
  width: 29%;
}
.configFlLstTableHeaderDocType {
  width: 10%;
}
.configFlLstTableHeaderUploadedOn {
  width: 14%;
}
.configFlLstTableHeaderDocStats {
  width: 13%;
}
.configFlLstTableHeaderSelectAll {
  padding: 5px;
  width: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 2px;
}
.configFlLstTableHeaderUnSelectAll {
  padding: 5px;
  width: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 5px;
  background: yellowgreen;
  border: 1px solid lightgray;
}
.configFlLstTableHeaderSelectAll:hover {
  background: lightyellow;
  transition: 0.3s;
}
.no-documents {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 2px;
  width: 100%;
  font-size: 1.2rem;
  color: gray;
  height: 75%;
}
.configFlLstTableBody {
  height: 75%;
  width: 100%;
  overflow: auto;
  /* border: 1px solid black; */
}
.tableHeadBodyLine {
  margin: 1px;
  color: #ccc;
}
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 3px;
}

.proNotProButtons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px;
  border-bottom: 1px solid #ccc;
  height: 7%;
  margin-top: 5px;
}
.proNotProButtons div {
  /* border: 1px solid lightgray; */
  height: 100%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  user-select: none;
  margin: 0;
  padding: 0;
  background: darkslategray;
  color: white;
  margin-bottom: -2px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
/* .proNotProButtons div:nth-child(1) {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.proNotProButtons div:nth-child(2) {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
} */
.selectedSpecificButton {
  background: white !important;
  color: #1e1e1e !important;
  transition: 0.2s;
  border-top: 1px solid #ccc;
  /* border-left: 1px solid #ccc; */
  border-right: 1px solid #ccc;
}
.horizontal-line-1 {
  margin: 2px !important;
}
