.configurationFileList {
  /* border: 1px solid black; */
  height: 92%;
}

.actionButtonsConfigure {
  width: 100%;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3px 10%;
}

.configurationFileListFourButtons {
  /* padding: 0.3em; */
  min-width: 98px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  /* color: whitesmoke; */
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
}
.configurationFileListFourButtons:focus {
  outline: none;
}
.configurationFileListFourButtons i {
  padding-top: 5px;
}
.configurationFileListFourDisabledButtons {
  /* padding: 0.3em; */
  min-width: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  color: black;
  background: lightgray;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid lightgray;
}
.configurationFileListFourDisabledButtons i {
  padding-top: 5px;
}
.emptyButtonDiv {
  padding: 0.4em;
  width: 100px;
}
.startExtractionButton {
  /* background: forestgreen; */
  border: 1px solid forestgreen;
  color: forestgreen;
  background: white;
}
.stopExtractionButton {
  /* background: rgb(63, 63, 63); */
  border: 1px solid rgb(63, 63, 63);
  color: rgb(63, 63, 63);
  background: white;
}
.viewExtractedDataButton {
  /* background: blueviolet; */
  border: 1px solid blueviolet;
  color: blueviolet;
  background: white;
}
.deleteExtractedFileButton {
  /* background: darkred; */
  border: 1px solid darkred;
  color: darkred;
  background: white;
}

.startExtractionButton:hover {
  background: forestgreen;
  color: white;
}
.stopExtractionButton:hover {
  background: rgb(63, 63, 63);
  color: white;
}
.viewExtractedDataButton:hover {
  background: blueviolet;
  color: white;
}
.deleteExtractedFileButton:hover {
  background: darkred;
  color: white;
}

.configFlLstTableHeader {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: unset;
  font-weight: 600;
  height: 7%;
}
.configFlLstTableHeader div {
  border-right: 1px solid #ccc;
  font-size: 0.8rem;
  color: #384988;
}
.configFlLstTableHeaderDocId {
  width: 7%;
}
.configFlLstTableHeaderDocName {
  width: 35%;
  /* padding-left: 10px; */
}
.configFlLstTableHeaderDocType {
  width: 5%;
}
.configFlLstTableHeaderSubtemplate {
  width: 16%;
}
.configFlLstTableHeaderUploadedOn {
  width: 10%;
}
.configFlLstTableHeaderDocStats {
  width: 8%;
  border-right: none !important;
}
.configFlLstTableHeaderSelectAll {
  padding: 3px;
  min-width: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  border: none;
  /* border-right: 1px solid #ccc; */
  /* background: white;  */
  background: none;
  /* border: none; */
  margin-top: 2px;
  color: #384988;
  cursor: pointer;
}

.configFlLstTableHeaderSelectAll:focus {
  outline: none;
}
.configFlLstTableHeaderSelectAll:hover {
  /* border: 1px solid #384988; */
  transition: 0.3s;
}
.configFlLstTableHeaderSelectAll img {
  height: 20px;
}
.configFlLstTableHeaderUnSelectAll {
  padding: 3px;
  min-width: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  border: none;
  /* background: #97f3bd; */
  /* border-right: 1px solid #ccc; */
  background: none;
  /* border: none; */
  margin-top: 2px;
  cursor: pointer;
  color: #384988;
}
.configFlLstTableHeaderUnSelectAll:focus {
  outline: none;
}
.configFlLstTableHeaderUnSelectAll img {
  height: 20px;
}
.no-documents {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 2px;
  width: 100%;
  font-size: 1.2rem;
  color: gray;
  height: 75%;
}
.configFlLstTableBody {
  height: 75%;
  width: 100%;
  overflow: auto;
  /* border: 1px solid black; */
}
.tableHeadBodyLine {
  margin: 1px;
  /* color: #ccc; */
  border: none;
  background: #ccc;
  height: 1px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 3px;
}

.proNotProButtons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px;
  border-bottom: 1px solid #ccc;
  height: 7%;
  margin-top: 5px;
  /* font-size: 0.8rem; */
}
.proNotProButtons div {
  /* border: 1px solid lightgray; */
  height: 100%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  user-select: none;
  margin: 0;
  padding: 0;
  background: #ccc;
  color: #1c1c1c;
  margin-bottom: -2px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.selectedSpecificButton {
  background: white !important;
  color: #384988 !important;
  /* font-weight: 600; */
  transition: 0.2s;
  border-top: 1px solid #ccc;
  /* border-left: 1px solid #ccc; */
  border-right: 1px solid #ccc;
}
.horizontal-line-1 {
  margin: 1px;
  /* color: #ccc; */
  border: none;
  background: #ccc;
  height: 1px;
}
.refreshIc {
  /* border: 1px solid black; */
  width: 99%;
  height: 28px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: transparent;
  margin-bottom: -32px;
}
.refreshIcDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  /* border-radius: 50%; */
  /* border: 1px solid black; */
  height: 22px;
  width: 22px;
}
.refreshIcDiv i {
  font-size: 0.9rem;
  margin-top: 4px;
}
.refreshIcDiv:hover {
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.refreshIcDiv:active {
  border: 1px solid #0000;
  border-radius: 5px;
  cursor: pointer;
}

.sortGroup {
  margin-right: 40px;
  font-size: 0.8rem;
  padding-bottom: 1px;
  /* visibility: hidden; */
}
.sortSelect {
  margin-right: 3px;
}

#sortValue {
  /* width: 200px; */
  border: thin solid #ccc;
  border-radius: 4px;
  /* padding-bottom: 3px; */
  cursor: pointer;
}
#sortValue:focus {
  outline: none;
}
#sortAsDs {
  /* width: 200px; */
  border: thin solid #ccc;
  border-radius: 4px;
  /* padding-bottom: 3px; */
  cursor: pointer;
}
#sortAsDs:focus {
  outline: none;
}
.searchGroup {
  margin-right: 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: -2px;
  /* border: 1px solid black; */
}
#searchName {
  height: 26px;
  border: 1px solid #ccc;
  font-size: 0.8rem;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
#searchName:focus {
  outline: none;
}
#clearSearchField {
  background: white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  color: grey;
  width: 30px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
#clearSearchField:hover {
  cursor: pointer;
}
#clearSearchField:active {
  border: 1px solid #0000;
  cursor: pointer;
}
#searchIc {
  transition: 0.3s;
}
.notProcIc {
  font-size: 0.7rem;
}

@media screen and (min-width: 1228px) {
}
