#addSFTPSection {
  /* border: 1px solid black; */
  padding: 3px;
}
.addNewSFTPButton {
  border: 1px solid #ccc;
  padding: 2px;
  width: 90px;
  height: 26px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}
.addNewSFTPButton:hover {
  background: rgb(246, 246, 246);
}
.addNewSFTPButton:active {
  /* border: 1px solid #0000; */
  border-radius: 5px;
  cursor: pointer;
}
.addNewSFTPicon {
  font-size: 1.1rem;
  color: green;
}
.addNewSFTPLabel {
  font-size: 0.85rem;
  font-weight: 500;
  color: #1e1e1e;
}
/* .custom-modal-SFTP .modal-dialog {
  max-width: 800px;    Set the desired width 
}

.custom-modal-SFTP .modal-content {
  border: 1px solid red;
  width: 100%;    Set the content width to fill the dialog 
} */
.modalSFTPContent {
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}
.leftSectionModalAddNewSFTP {
  width: 35%;
  font-weight: 500;
  font-size: 0.85rem;
}
.rightSectionModalAddNewSFTP {
  font-weight: 400;
  font-size: 0.85rem;
}
.subTemplateSelectionSFTP {
  font-weight: 400;
  font-size: 0.85rem;
  display: flex;
  justify-content: flex-start;
}
.buttonSubSFTP {
  padding: 2px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonSubSFTP:hover {
  cursor: pointer;
  background: #f1f1f1;
}
.subSelectSFTP {
  background: forestgreen !important;
  color: azure;
}
.newTempInput2 {
  width: 250px;
}
.newTempInput2:focus {
  outline: none;
}
.newTempTextarea2:focus {
  outline: none;
}
#sftpSelectedSubId:focus {
  outline: none;
}
.newTempTextarea2 {
  width: 250px;
  min-height: 30px;
}
#sftpMainTemplateForm {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #ccc;
}
