.favourites {
  padding-left: 2%;
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
.favouritesText {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px 0px;
  /* border: 1px solid black; */
}
.favouritesHeader {
  padding-top: 3px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  /* border: 1px solid black; */
}
.templateDiv {
  /* border: thin solid #ccc; */
  width: 25%;
  font-size: 0.85rem;
}
.subTemplateDiv {
  /* border: thin solid #ccc; */
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.85rem;
}

#selectDataType {
  width: 150px;
  border: thin solid #ccc;
  border-radius: 4px;
  padding-bottom: 3px;
  font-size: 0.85rem;
  cursor: pointer;
}
#selectDataType:focus {
  outline: none;
}
.templateContent {
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
}
.templateKeysandvaluesText {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 100%; */
  border: 1px solid #ccc;
  font-size: 0.9rem;
}
.templateKeysAndValues {
  /* border: 2px solid yellowgreen; */
  height: 85%;
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}
.missingKeysText {
  font-weight: 700;
  font-size: 0.9rem;
  margin-top: 6px;
}
.missingKeys {
  border: 1px solid rgb(229, 229, 229);
  /* height: 28px; */
  padding-left: 4px;
  width: 41%;
  font-size: 0.85rem;
  color: #7f7f7f;
}
