#overlayHeader {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#overlayLabel {
  /* border: 1px solid brown; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  font-size: 0.9rem;
  font-weight: 700;
  color: #384988;
}
#overlayBackToTemplates1 {
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 10px;
  border-radius: 5px;
  color: #008000;
}
#overlayBackToTemplates1:hover {
  background: #eeeeee;
  cursor: pointer;
}
#overlayBackToTemplates2 {
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
  border-radius: 3px;
  color: #008000;
}
#overlayBackToTemplates2:hover {
  background: #eeeeee;
  cursor: pointer;
}
#midOverlay {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 5px;
}
#midOverlayTempName {
  font-size: 0.8rem;
}
#midOverlayFileName {
  font-size: 0.8rem;
}

#overlayTableid {
  /* border: 1px solid #ccc; */
  width: 100%;
}

.overlayTableRow1cl th {
  /* display: flex; */
  text-align: center;
  font-size: 0.85rem;
  border: 1px solid #ccc;
}
