.header {
  height: 9vh;
  /* background-color: rgb(31, 30, 30); */
  background: #1f1f1f;
  color: white;
  /* color: rgb(31, 30, 30); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
}
.logoImg {
  /* background: white; */
  border-radius: 5px;
  /* border: 1px solid #8a8a8a; */
  /* filter: invert(1); */
}
.iconName {
  font-family: cursive;
  color: gold;
}
.dropiconbutton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
.inupoutButton {
  outline: none;
  color: rgb(255, 208, 208);
  height: 40px;
  min-width: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inupoutButton:hover {
  color: rgb(255, 128, 128);
}
.inupoutButton i {
  margin-top: 5px;
}
.languageDiv {
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font-weight: 200;
  font-size: 0.9rem;
}
.languageDiv i {
  font-size: 18px;
  margin-top: 7px;
  color: white;
}
#languageSelect {
  background: transparent;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
}
#languageSelect option {
  background: white;
  color: black;
}
