.footer {
  border-top: 1px solid lightgray;
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}
.emptyDivFooter {
  width: 200px;
}
.copyrightDiv {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  width: 150px;
  justify-content: space-evenly;
}
.copyrightDiv i {
  font-size: 10px;
  margin-top: 2px;
}
.cyientDiv {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  width: 140px;
  justify-content: space-evenly;
}
.cyient-logo {
  height: 9px;
}
.text-foot {
  padding: 0px;
  margin: 0px;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 0.8rem;
}
