.configurationFile {
  /* margin-top: 15px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.85rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* margin: 0px 0px; */
  /* height: 25px; */
  border-bottom: 1px solid rgb(228, 227, 227);
}
.configurationFile:hover {
  background: rgb(246, 245, 245);
}
.selectedDocumentStyle {
  background: rgb(234, 234, 234);
}
.selectedDocumentStyle:hover {
  background: rgb(234, 234, 234) !important;
}
.configFlLstTableRowDocId {
  width: 7%;
  padding-left: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
}
.configFlLstTableRowDocName {
  width: 35%;
  /* padding-right: 1px; */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.configFlLstTableRowDocType {
  width: 5%;
  padding-left: 4px;
  user-select: none;
}
.configFlLstTableRowSubtemplate {
  width: 16%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 4px;
  user-select: none;
}
.configFlLstTableRowUploadedOn {
  width: 10%;
  padding-left: 4px;
  user-select: none;
}
.configFlLstTableRowDocStats {
  width: 8%;
  user-select: none;
}
.configFlLstTableRowSelect {
  padding: 3px;
  min-width: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  background: none;
  /* border: 1px solid lightgray; */
  border: none;
  /* border-right: 1px solid #ccc; */
  /* border-radius: 15px; */
  cursor: pointer;
  color: #384988;
  opacity: 0.7;
  /* outline: none; */
}
.configFlLstTableRowSelect:hover {
  /* border: 1px solid #384988; */
  border: none;
  transition: 0.3s;
  opacity: 0.8;
  /* border-right: 1px solid #ccc; */
}
.configFlLstTableRowSelect:focus {
  outline: none;
}
.configFlLstTableRowSelect img {
  height: 20px;
}
.configFlLstTableRowUnselect {
  padding: 3px;
  min-width: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  /* border-radius: 15px; */
  /* background: #97f3bd; */
  background: none;
  /* border: 1px solid #384988; */
  border: none;
  /* border-right: 1px solid #ccc; */
  cursor: pointer;
  opacity: 0.7;
}
.configFlLstTableRowUnselect:focus {
  outline: none;
}
.configFlLstTableRowUnselect img {
  height: 20px;
}
