.configurationFile {
  /* margin-top: 15px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 1px 0px;
  border-bottom: 1px solid rgb(228, 227, 227);
}
.configurationFile:hover {
  background: rgb(246, 245, 245);
}
.configFlLstTableRowDocId {
  width: 7%;
  padding-left: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
}
.configFlLstTableRowDocName {
  width: 35%;
  padding-right: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.configFlLstTableRowDocType {
  width: 5%;
  padding-left: 4px;
  user-select: none;
}
.configFlLstTableRowSubtemplate {
  width: 16%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 4px;
  user-select: none;
}
.configFlLstTableRowUploadedOn {
  width: 10%;
  padding-left: 4px;
  user-select: none;
}
.configFlLstTableRowDocStats {
  width: 8%;
  user-select: none;
}
.configFlLstTableRowSelect {
  padding: 5px;
  min-width: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  /* outline: none; */
}
.configFlLstTableRowSelect:hover {
  background: lightyellow;
  transition: 0.3s;
}
.configFlLstTableRowSelect:focus {
  outline: none;
}
.configFlLstTableRowUnselect {
  padding: 5px;
  min-width: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 5px;
  background: yellowgreen;
  border: 1px solid lightgray;
  cursor: pointer;
}
.configFlLstTableRowUnselect:focus {
  outline: none;
}
